/* base*/
@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/typography.css');
@import url('./base/globals.css');

body {
    padding: var(--space-8);
    background-color: var(--color-background);
}

.card {
    width: 100%;
    background-color: var(--color-card-bg);
    overflow: hidden;
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-xl);
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.card-display {
    position: relative;
}

.card-display p {
    position: absolute;
    bottom: var(--space-4);
    left: var(--space-4);
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--color-background);
}

.card-content {
    padding: var(--space-4);
}

.card-content p {
    font-family: var(--font-family-base);
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--color-text);
    background-color: var(--color-background);
    border-radius: var(--radius-md);
    padding: var(--space-4);
}