/* =========================
     Z-INDEX TOKENS
  ========================= */

:root {
    /* Semantic */
    --z-background: -1;
    --z-base: 1;
    --z-dropdown: 10;
    --z-sticky: 100;
    --z-overlay: 500;
    --z-modal: 1000;
    --z-tooltip: 1500;
}