/* =========================
   TYPOGRAPHY BASE
========================= */

body {
  font-family: var(--font-family-base);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
}

/* Headings */

h1,
.h1 {
  font-size: var(--fs-3xl);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
}

h2,
.h2 {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
}

h3,
.h3 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semibold);
}

/* Paragraph */

p {
  font-size: var(--fs-md);
  line-height: var(--lh-relaxed);
}

/* Small text */

small,
.text-small {
  font-size: var(--fs-sm);
}